// Override bootstrap variables

$body-bg: #fcfcfc;
$font-family-sans-serif: -apple-system, 'Lucida Grande', 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', 'メイリオ', meiryo, sans-serif;
$navbar-inverse-bg: #333;
$navbar-inverse-link-hover-bg: rgba(#555, .2);
$border-radius-base: 1px;
$brand-success: #2ecc71;
$btn-default-bg: #fcfcfc;
$brand-info: #4aa3df;
$brand-warning: #e67e22;
$brand-danger: desaturate(#e74c3c, 15%);

$text-color: #777;
$btn-default-color: darken($text-color, 5%);

$state-success-bg: lighten($brand-success, 40%);

// custom variables
$lecture-non-active-bg-color: transparent;
$lecture-active-bg-color: hsl(180, 55%, 92%);
$lecture-taken-bg-color: #e7e7e7;
$lecture-elective-required-color: #3498db;
$lecture-re-required-color: hsl(320, 90%, 75%);
$lecture-elective-color: $text-color;
$lecture-required-color: #e67e22;


$navbar-inverse-bg:  white;
$navbar-inverse-link-color: rgb(61, 63, 68);
$navbar-inverse-toggle-icon-bar-bg: black;
$navbar-inverse-toggle-hover-bg: white;
<<<<<<< HEAD
=======

$table-border-color: black;
>>>>>>> 19468777f9b1e81c7c2dd21b9943871bdba7c8f4
